@page "/fetchdata"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inherits UserBase
<PageTitle>Users </PageTitle>
@if (employees == null && ErrorMessage==null)
{
    <p><em>Loading...</em></p>

}
else if(ErrorMessage!=null){
    <h3>@ErrorMessage</h3>
      NavigationManager.NavigateTo("/");
}
else
{
  
      //  NavigationManager.NavigateTo("/");
    
    @if (employees.Count() == 0)
    {
        <h1>No Users to show</h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>PhoneNumber</th>
                    <th>role</th>

                </tr>
            </thead>
            <tbody>


                @foreach (var emp in employees)
                {
                    <tr>
                       
                        <td>@emp.UserName</td>
                        <td>@emp.FirstName</td>
                        <td>@emp.LastName</td>
                        <td>@emp.PhoneNumber</td>
                        <td>@emp.role</td>
                       @* <td>
                            <button @onclick="() => delete(emp.id)" class="btn btn-danger">
                                delete
                            </button>
                            <a href="/editcar/@car.id">edit</a>

                        </td>*@
                    </tr>
                }

            </tbody>
        </table>
    }
}

@code {
    //void Delete(int id){
    //    User.DeleteCar(id);
    //    Console.WriteLine("Deleted");
    //    NavigationManager.NavigateTo("fetchdata", true);
    //}
}
