@page "/register"
@inherits RegisterBase

<h3>Add New Account</h3>
@if (  !IsAuthorized)
{
    //NavigationManager.NavigateTo("/Unauthorized");
    <span class="alert alert-danger">You Are Un Authorized</span>

}
<EditForm Model="@userRegisterDto" OnValidSubmit="RegisterUser" >
    <FluentValidationValidator/>
    <ValidationSummary/>    
    <div class="form-group">
        <label for="username">User Name</label>
        <InputText @bind-Value="userRegisterDto.UserName" class="form-control"></InputText>
        <span class="text text-danger">@Message</span>
        <ValidationMessage For="@(()=>userRegisterDto.UserName)"></ValidationMessage>
    </div>
      <div class="form-group">
        <label for="username">First Name</label>
        <InputText @bind-Value="userRegisterDto.Firstname" class="form-control"></InputText>
        <ValidationMessage For="@(()=>userRegisterDto.Firstname)"></ValidationMessage>

    </div>
    <div class="form-group">
        <label for="username">Last name</label>
        <InputText @bind-Value="userRegisterDto.LastName" class="form-control"></InputText>
        <ValidationMessage For="@(()=>userRegisterDto.LastName)"></ValidationMessage>

    </div>
    <div class="form-group">
        <label for="username">Phone Number</label>
        <InputText @bind-Value="userRegisterDto.PhoneNumber" class="form-control"></InputText>
                <ValidationMessage For="@(()=>userRegisterDto.PhoneNumber)"></ValidationMessage>

    </div>
      <div class="form-group">
        <label for="username">Role</label>
        <InputRadioGroup @bind-Value="userRegisterDto.Role">
            <div class="form-check form-check-inline">
                <InputRadio Value="admin" class="form-check-input"></InputRadio>
                <label>Admin</label>
            </div>
            <div class="form-check form-check-inline">
                <InputRadio Value="user" class="form-check-input"></InputRadio>
                <label>User</label>
            </div>

        </InputRadioGroup>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText @bind-Value="userRegisterDto.Password" type="password" class="form-control"></InputText>
        <ValidationMessage For="@(()=>userRegisterDto.Password)"></ValidationMessage>

    </div>
    <div class="form-group">
        <label for="password">Confirm Password</label>
        <InputText @bind-Value="userRegisterDto.ConfirmPassword" type="password" class="form-control"></InputText>
        <ValidationMessage For="@(()=>userRegisterDto.ConfirmPassword)"></ValidationMessage>

    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>
@code {
    string admin = "Admin";
    string user = "User";
}
